# Python
__pycache__/

# Distribution / packaging
dist/

# Unit test / coverage reports
htmlcov/
.coverage
.pytest_cache/

# Environments
.env*
.venv

# Ruff stuff
.ruff_cache/

# Application stuff
.config
*.txt
