services:
  core:
    image: stega-core:latest
    restart: always
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      portfolio:
        condition: service_healthy 
    links:
      - portfolio
    environment:
      STEGA_CORE_ENV: ${STEGA_CORE_ENV}
      STEGA_CORE_LOG_LEVEL: ${STEGA_CORE_LOG_LEVEL}
      STEGA_BROKER_USER: ${STEGA_BROKER_USER}
      STEGA_BROKER_PASS: ${STEGA_BROKER_PASS}
    ports:
      - "127.0.0.1:20000:5000"
